@import './base.css';

#app {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  min-height: calc(100vh - var(--header-bar-height));
}

main {
  max-width: inherit;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

body {
  display: flex;
  place-items: center;
  overflow-x: hidden;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
  #app {
    padding-left: 1.5rem;
  }
}

@media (min-width: 1280px) {
  #app {
    padding: 2rem 0;
  }
}

#app-header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-bar-height);
  background: var(--color-background);
}

#app-footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(var(--header-bar-height) / 2);
  background: var(--color-background);
}

.pre-wrap {
  white-space: pre-wrap;
}

.normal-popup-class {
  border-radius: 0.5rem;
}

.normal-popup-overlay {
  background: var(--color-background-opacity);
  backdrop-filter: blur(10px);
}
